/* Testing */

div {
  color: #565656;
}

body {
	font-family: 'Asap', sans-serif;
	padding-top: 5px;
	padding-bottom: 20px;
}

header {
	height: 100px;
}

.container {
	margin: auto;
    width: 1000px;
    display: block;
	/*background-color: #f96363;*/
}

.logo {
	width: 530px;
	text-align: left;
	float: left;
	display: block;
	/*background-color: #638bf9;*/
}

.tabs {
	width: 450px;
	text-align: center;
	margin-left: 500px;
	padding-top: 20px;
	display:block;
	/*background-color: #28ea5c;*/
}

.tabs ul {
	
}

.tabs li {
	display: inline;
	padding: 30px;
	font-size: 33px;
	font-weight: 700;
	/*background-color: #eab128;*/
}

a {
	text-decoration:none;
	color: #565656;
}

#name  h1, #name h2 {
	
}

#name h1 {
	font-family: 'Lobster', cursive;
	font-size: 60px;
	line-height: 30%;
	float: left;
	/*background-color: #28ea5c;*/
}

#name h2 {
	font-size: 20px;
	/*color: */
}

.links {
	/*background-color: #eab128;*/
}

.links ul {
	
	padding: 0px;
}

.links li {
	display: inline;
	padding-left: 20px;
	font-size: 20px;
	/*background-color: #eab128;*/
}

.links a:hover, .tabs a:hover{
	color: #97D8F5;
}

#border-line {
	border-bottom: 7px solid #CFCFCF;
}

@media only screen and (max-width: 1024px) {
	header {
		height: 110px;
	}
	
    .container {width: 620px;}
	
	.logo  {width: 300px; text-align: center;}
	
	.tabs  {
		width: 320px;
		padding-top: 35px;
		margin-left: 300px;
	}
	
	.tabs li {
			padding: 20px;
			font-size: 25px;
	}
	
	#name h1{font-size: 45px; float: none;}
	
	.links li {
		font-size: 18px;
		padding: 10px;
	}
}

@media only screen and (max-width: 640px) {
	header {
		height: 160px;
	}
	
    .container {width: 450px;}
	
	.logo  {width: 450px; text-align: center;}
	
	.tabs  {
		width: 450px;
		padding-top: 120px;
		margin-left: 0px;
	}
	
	.tabs ul {margin-left: -40px;}
	
	.tabs li {
			padding: 20px;
			font-size: 30px;
	}
	
	#name h1{font-size: 60px; float: none;}
	
	.links li {
		font-size: 20px;
		padding: 20px;
	}
	
	#border-line {
		padding-top: 40px;
	}
	
	#border-line-2 {
		padding-top: 10px;
		border-bottom: 7px solid #CFCFCF;
	}
}

@media only screen and (max-width: 480px) {
	header {
		height: 160px;
	}
    .container {width: 320px;}
	
	.logo  {width: 320px; text-align: center;}
	
	.tabs  {
		width: 320px;
		padding-top: 115px;
	}
	
	.tabs li {
			padding: 20px;
			font-size: 25px;
	}
	
	#name h1{font-size: 47px; float: none;}
	
	.links li {
		font-size: 17px;
		padding: 17;
	}
	
	#border-line {
		padding-top: 20px;
	}
	
	#border-line-2 {
		padding-top: 0px;
		border-bottom: 7px solid #CFCFCF;
	}
}